
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url(../media/home/flame.jpg) black;
}

#canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.frampton-video {
  position: fixed;
  display: block;
  left: 0; top: 0; width: 100%; height: 100%;
}

.frampton-text {
  position: fixed;
  display: block;
  left: 0; top: 0;
}

.not-chrome-message {
  position: absolute;
  left: 50%; margin-left: -200px; width: 400px;
  top: 60px;
  padding: 12px;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  line-height: 1.4;
  box-shadow: 0 14px 28px rgba(255,255,255,0.25), 0 10px 10px rgba(255,255,255,0.22);
}
  .not-chrome-message a {
    color: rgba(0, 125, 255, 0.87);
    text-decoration: none;
  }
    .not-chrome-message a:hover, .not-chrome-message a:focus {
      text-decoration: underline;
    }

.splash-background {
  position: fixed; left: 0; top: 0; width: 100%; height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px 100px rgba(255, 255, 255, 0.5);
  -webkit-transition: opacity ease 2s;
  transition: opacity ease 2s;
}

.loading-message {
  position: fixed;
  left: 40px; top: 40px;
  font-size: 48px;
  font-family: "Droid Sans", "Helvetica Neue", sans-serif;
  color: rgba(101, 0, 203, 0.75);
  text-shadow: 3px 3px 3px rgba(101, 0, 203, 0.75);
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}

.click-to-start {
  position: absolute;
  left: 50%; top: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  max-width: 400px;
  padding: 20px;
  font-size: 48px; line-height: 1.5;
  font-family: "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 3px 3px 3px rgba(20, 255, 185, 0.75);
  cursor: pointer;
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}
  .click-to-start:hover {
    box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.3);
  }

.guitar-icon {
  position: fixed;
}

.tracklist {
  position: fixed;
  bottom: 15px; right: 15px;
  color: #FFF;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  font-size: 24px;
  font-family: "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  -webkit-transition: opacity ease 0.4s;
  transition: opacity ease 0.4s;
  opacity: 0;
}
